# Ignore the .idea directory (for JetBrains IDEs)
.idea/

# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/
sptts/

# Ignore macOS specific files
.DS_Store

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp